*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
 background-image: url("assets/back.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

 color: #fff;
}
.header img{
  border-radius: 50%;
  border: 2px solid #fff;
}

.header div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 80%;
  width: 100%;
  text-align: center
}
.header div p{
  background-color: #00000071;
  border-radius: 1rem;
  padding: 10px;
}
.header div a{
  background-color: #BE5E72;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000000b1;
}
.main, .section-products{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  text-align: center;
}

.section-products h3{
  width: 100%;
  border-bottom: 2px solid #BE5E72;
  color: rgb(62, 60, 60);
}
.sobre{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
  color: #BE5E72;
  max-width: 80%;
}
.sobre div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sobre p{
  color: #493C32;
}
.grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #be5e7144;
  padding: 5px;
  border-radius: 5px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border-radius: 5px;
  background-color: #fff;
  height: 100%;
}
.card h4{
  color: #BE5E72;
  border-bottom: 1px solid #000;
}
.card strong{
  color: #343232;
}
.star{
  display: flex;
  color: #FFD300;

}
.card img{
  width: 100%;
  height: auto;
  border: 2px solid #fff;
  border-radius: 2rem 2rem 0 0;
}
.bts{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  padding: 5px;
 
}
.bts a{
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 0.7rem;
  font-weight: bold;
  height: 25px;
}
.bts .s{
  background-color: #EE4D2D;
}
.bts .ml{
  background-color: #FFD300;
}
.bts .e{
  background-color: #D7410C;
}
.bts .p{
  background-color: green;
  font-size: 0.8rem;
}

.avaliacoes{
  width: 100%;
  background-color: #E5DECE;
}
.avaliacoes img{
  max-width: 70%;
  object-fit: cover;
}

footer{
  background-color: #BE5E72;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  padding: 1rem 0;
}
footer img{
  border-radius: 50%;
}
@media screen and (max-width:768px) {
  .grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
}

@media screen and (max-width:468px) {
  .grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.sobre{
  flex-direction: column;
}
.sobre p{
  color: #493C32;
}
}